.container{
 max-width: 1480px;
 margin: 0 auto;
}
.form{
  width: 700px;
  height: 350px;
  border-radius: 15px;
  border: 2px solid rgba(55, 67, 117);
}
.form-line{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
