/* You can add global styles to this file, and also import other style files */

*{
  font-family: "Protest Strike", sans-serif;
  color: white;
  font-weight: 600;
}
body{
  background-color: rgb(199, 193, 224);
}
